body{

    width: 90%;
    /* width: 1152px; */
    height: 2041px;
    margin: 0 auto;
    background: #6363630f;
}

.header-section{
    background: #FFFF;
    padding:40px 50px;

}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.nav-service{
    display: flex;
}
.nav-service>li, a{
    text-decoration: none;
    font-family: Heebo;
    list-style: none;
    color: black;
    margin-left: 15px;
    margin-right: 15px;
    /* margin:0 15px; */
   font-weight: 600;
   font-size: 20px;

}

/* ----------------hero container----------- */
.hero-container{
    display: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 150px;
    margin-bottom: 130px;
}
.hero-description{
    width: 58%;
}
.hero-description>h1,h2{
font-family: Inter;
font-size: 44px;
font-weight: 700;
margin-top: 0;
}
.hero-description>p{
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
padding:0px 90px 1px 1px;
}
.hero-image{
    width: 35%;
}

.primary-btn{
    padding: 10px 40px;
    font-size: 20px;
   font-family: Inter;
    box-shadow: 4px 5px 0px 3px #222222;
    background: none;
    border: 3px solid #FF6464;
    background: #FF6464;
    border-radius: 15px 0px 15px 0px;
    margin-top: 20px;
    font-weight: 600;  
    color: rgb(255, 255, 255);
  }
  .primary-btn:hover{
    box-shadow: 0 0px 20px 0 rgb(168, 171, 167);
    transition: 1s;
  }


  /* -------------recent-posts--------------- */

  main{
    background: #EDF7FA;
    height: 356px;
    padding:40px 50px;
   
  }
  .recent-posts{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Inter;
  }
  .recent-posts>p,span{
    padding: 0px 10px;
    color: #f63030;
    cursor: pointer;
    text-decoration: dotted;
    font-weight: 400;
  }




.posts{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
}
.single-post{
  background: #ffffff;
  padding: 30px;
  font-family: Inter;
}
.single-post>h3{
font-size: 26px;
font-style: normal;
font-weight: 700;
}
.single-post>h4{
    opacity: .75;
    font-family: sans-serif;
}
.date{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Inter;
}







/* ----------------------------------Media query--------------- */

@media screen and (max-width: 576px) {
    body{

        width: 90%;
        height: 2041px;
        margin: 0 auto;
        background: #6363630f;
    }
    .nav-container{
        flex-direction: column;
    }
    .nav-service,li, a{
        margin-top: 10px;
    }
    .hero-description{
        width: 100%;
    }
    .hero-container{
        margin-top: 100px;
        flex-direction: column-reverse;
    }
    .hero-description>h1,h2{
        text-align: center;
        margin-top: 50px;
        margin-bottom: 0;
        }
    .hero-description>h2{
        margin-top: 0;
        margin-bottom: 50px;
    }    
    .hero-description>p{
        text-align: center;
        padding: 0;
    }
    .hero-description>.primary-btn{
        display: flex;
        align-items: center;
        margin: 0 auto;
    }
    .hero-image{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .posts{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 40px;
    }
}