body{

    /* width: 90%; */
    width: 1252px;
  
    height: 2041px;
    margin: 0 auto;
    background: #6363630f;
}

.header-section{
    background: #FFFF;
    padding:40px 50px;

}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.nav-service{
    display: flex;
}
.nav-service>li, a{
    text-decoration: none;
    font-family: Heebo;
    list-style: none;
    color: black;
    margin-left: 15px;
    margin-right: 15px;
    /* margin:0 15px; */
   font-weight: 600;
   font-size: 20px;

}

/* ----------------hero container----------- */
.hero-container{
    display: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 150px;
    margin-bottom: 100px;
}
.hero-description{
    width: 58%;
}
.hero-description>h1{
font-family: Inter;
font-size: 44px;
font-weight: 700;
margin-top: 0;
margin-bottom: 15px;
}
.hero-description>h1>span{
    color: #FF6464;
    font-weight: 700;
    font-size: 44px;
}
.hero-description>p{
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
padding:0px 90px 1px 1px;
}
.hero-image{
    width: 35%;
}

.primary-btn{
    padding: 10px 40px;
    font-size: 20px;
   font-family: Inter;
    background: none;
    border: 3px solid #FF6464;
    border-radius: 15px 0px 15px 0px;
    margin-top: 20px;
    font-weight: 600;  
    cursor: pointer;
   
  }
  


  /* -------------recent-posts--------------- */

  main{
    background: #EDF7FA;
    height: 496px;
    padding:40px 50px;
  }
  .recent-posts{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Inter;
  }
  .recent-posts>p,span{
    padding: 0px 10px;
    color: #f63030;
    cursor: pointer;
    text-decoration: dotted;
    font-weight: 400;
  }




.posts{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
}
.single-post{
  background: #ffffff;
  padding: 30px;
  font-family: Inter;
}

.single-post {
    position: relative;
    background: #ffffff;
    border-radius: 0px 8px 8px 8px;
    /* border: 2px solid #FF6464; */
  }
  
  .single-post:before {
    content: "";
    position: absolute;
    top: -40px;
    left: 0;
    height: 40px;
    width: 40px;
    background: transparent;
    /* border: 2px solid #FF6464; */
    border-bottom-left-radius: 50%;
    box-shadow: 0 20px 0 0 #ffffff;
  }

.single-post>h3{
font-size: 26px;
font-style: normal;
font-weight: 700;
}
.single-post>h4{
    opacity: .75;
    font-family: sans-serif;
}
.date{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Inter;
}

.last-container{
   padding-top: 50px;
   /* margin-top: 10px; */
    background: #FFFF;
    padding-bottom: 100px;
}
.last-container>h3{
    margin: 0;
    margin-top: 0px;
    text-align:center;
    font-size: 40px;
    font-family: Inter;
    font-weight: 500;
    /* margin-bottom: 40px; */

}
hr{
    width: 25%;
    font-weight: 800;
    font-size: 500;
    border: 2px solid #f63030;
    margin-bottom: 50px;
}
.featured-container{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 40px;
    box-shadow:0px 5px 5px 5px #dbdbdb;
    padding: 20px;
}
.featured-des{
    font-family: Inter;
}
.featured-des>h2{
    font-size: 30px;
    margin-bottom: 0px;
}
.sal{
    display: flex;
    align-items: center;
}
.sal>p{
    margin: 0px 10px;
    opacity: .75;
}
.star{
    /* color: #FFF84E; */
    color: #feaa0d;
    font-weight: 700;
}
.year{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
}
.sal>h4{
    text-align: center;
    padding:5px 10px;
    border-radius: 16px;
    width: 60px;
    background: #142850;
    color: #EDF7FA;
}


/* ----------------------------------Media query--------------- */

@media screen and (max-width: 576px) {
    body{

        width: 90%;
        height: 2041px;
        margin: 0 auto;
        background: #6363630f;
    }
    .nav-container{
        flex-direction: column;
    }
    .nav-service,li, a{
        margin-top: 10px;
    }
    .hero-description{
        width: 100%;
    }
    .hero-container{
        margin-top: 100px;
        flex-direction: column-reverse;
    }
    .hero-description>h1{
        text-align: center;
        margin-bottom: 0;

        }
       
    .hero-description>p{
        text-align: center;
        padding: 0;
    }
    .hero-description>.primary-btn{
        display: flex;
        align-items: center;
        margin: 0 auto;
    }
    .hero-image{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        width: 100%;
    }

    .posts{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 40px;
    }

    .post-container{
        background: #ffffff;
        height: 856px;
       padding: 0px;
      }
      .featured-container>img{
        width: 90%;
        margin: auto;
      }
.recent-posts{
    padding: 0px 30px;
}

      .featured-container{
        width: 100%;
        flex-direction: column;
        padding: 1px;
        /* flex-direction: column-reverse; */
      }
      .featured-des{
        padding: 40px;
      }
}